body{
    margin:0;
    padding:0;
    background-color:var(--coloryellow)
}
:root{
    /*primarycolors*/
    --coloryellow:#fcde67;
    --colorblack:#030e12;
    --colorneon:#5bccf6;
    --colorwhite:white;
}
*{
    margin:0;
    padding:0;
}
header{
    background-color:var(--coloryellow);
    height:auto;
    width:80%;
    width:100%;
    font-family: 'Poppins', sans-serif;
}
nav{
    background-color:var(--coloryellow);
    width:85%;  
    display:flex;
    justify-content:space-between;
    align-content:center; 
    margin:auto;
    height:auto;
    padding:30px;
}
.logo{
    color:var(--colorblack);
    font-weight:700;
    font-size:19px;
}
nav ol{
    list-style-type:none;
    display:flex;
    align-self:center;
}
nav ol li{
    margin-left:20px;
}
nav ol li:nth-child(1) a{
    color:white;
    text-decoration:none;
    font-size:15px;
}
nav ol li:nth-child(1) a:hover{
    border-bottom:3px solid var(--colorblack);
}
nav ol li:nth-child(2) button{
    color:var(--colorblack);
    background-color:rgb(7, 7, 17);
    padding:5px 10px;
    border:none;
    border-radius:5px;
    font-weight:bolder;
    box-sizing:border-box;
    color:white;
}

header div:nth-child(1){
    width:85%;
    margin:auto;
    font-family:sans-serif;
    padding-top:40px;
    
} 
header div:nth-child(1) p:nth-child(1){
    color:var(--colorwhite);
    font-size:20px; 
}
header div:nth-child(1) p:nth-child(2){
    color:var(--colorblack);
    font-size:23px;
    font-weight:600;
    line-height:40px;
}
header div:nth-child(1) p:nth-child(3){
    color:var(--colorwhite);
    font-size:30px;
    font-weight:700;
}
header div:nth-child(2){
    text-align:right;
    width:85%;
    margin:auto;
    margin-top:40px;
    padding-bottom:40px;
}
header div:nth-child(2) ol{
    list-style-type:none;
    color:var(--colorblack);
    font-size:30px;
    line-height:50px; 
    font-weight:600;
}
.About_me{
    height:auto;
    background-color:var(--colorneon);
    width:100%;
    padding:50px 0px;
}
.About_me .sub-aboutme{
    width:85%;
    margin:auto;
    display:flex;
    box-sizing:border-box;

}
.About_me .sub-aboutme div{
    flex:50%;
    height:auto;
    box-sizing:border-box;
}
.sub-aboutme div:nth-child(1) h2{
     font-size:25px;
     font-weight:700;
     padding:40px 0px;
     font-family: 'Poppins', sans-serif;
}
.sub-aboutme div:nth-child(1) p{
    font-family: 'Port Lligat Sans', sans-serif;
    font-size:14px;
    line-height:25px;
}
.sub-aboutme div:nth-child(2){
    padding:0px 30px;
}
.sub-aboutme div:nth-child(2) img{
    width:100%;
    margin:120px 0px 0px 0px;
    border-radius:50%;
}
.skills{
    height:auto;
    padding-bottom:40px;
}
.skills h2{
    text-align:center;
    color:rgb(255, 255, 255);
    font-family:'Poppins', sans-serif;
    font-weight:700;
    padding-top:10px;
}
.skills .subskills{
    width:85%;
    margin:auto;
    color:var(--colorwhite);
    display:grid;
    grid-template-columns:50% 50%;
    grid-auto-rows:minmax(200px,auto);
    grid-gap:20px 20px;
    margin-top:40px;
    border:none;
}
.subskills div{
    border-radius:12px;
    background-color:var(--colorblack);
    box-sizing:border-box;
    border:none;
}
.subskills div h3{
    text-align:center;
    font-family:'Port Lligat Sans', sans-serif;
    padding-top:15px;
}
.subskills div ol{
    margin-top:20px;
}
.subskills div ol li{
    list-style-type:none;
    padding-left:20px;
    padding-top:12px;
    font-size:15px;
    font-family:'Poppins', sans-serif;
}
.projects{
    height:auto;
    background-color:var(--colorneon);
    text-align:center;
    font-family:'Poppins', sans-serif;
    padding-bottom:50px;
} 
.projects h2{
    padding:40px 0px;
    color:var(--colorblack);
    font-size:30px;
    font-weight:700;
}
.projects ol li{
    list-style-type:circle;
    padding-top:50px;
    font-size:19px;
    font-family:'Port Lligat Sans', sans-serif;
    font-weight:bold;
}
.footer{
    background-color:var(--colorblack);
    height:80vh;
    font-family:'Poppins', sans-serif;
}
.footer div{
    margin:auto;
    height:auto;
    width:85%;
}
.footer div:nth-child(1){
    color:white;
    padding-top:30px;
}
.footer div:nth-child(2){
    display:flex;
    flex-direction:column;
    margin-top:30px;
}
.footer div:nth-child(2) forms{
    text-align:center;
} 
forms{
    height:auto;
}
forms label{
    font-size:14px;
    color:white;  
}
forms input{
    margin-top:10px;
    height:22px;
}
forms textarea{
    height:70px;
    margin-top:10px;
}
forms button{
    background-color:var(--coloryellow);
    color:white;
    padding:2px 40px;
    border-radius:5px;
    margin-top:20px;
}
.footer div:nth-child(2) div{
    color:white;
    text-align:center;
}
.footer div:nth-child(2) div p{
    text-align:left;
}
.footer div:nth-child(2) div p i[class="fas fa-phone"]{
    margin-right:80px;
}
.footer div:nth-child(2) div p i[class="far fa-envelope"]{
    margin-right:80px;
}
div a{
    margin-left:20px;
    border:1px solid white;
    border-radius:50%;
    padding:2px 4px;
}
div:nth-child(2) div div{
    margin-top:50px;
}
    


