body{
    margin:0;
    padding:0;
    background-color:var(--colorwhite);
}
:root{
    /*primarycolors*/
    --coloryellow:#fcde67;
    --colorblack:#030e12;
    --colorneon:#5bccf6;
    --colorwhite:white;
}
*{
    margin:0;
    padding:0;
}
header{
    background-color:var(--colorneon);
    height:auto;
    width:80%;
    width:100%;
    font-family: 'Poppins', sans-serif;
}
nav{
    background-color:var(--colorneon);
    width:85%;  
    display:flex;
    justify-content:space-between;
    align-content:center; 
    margin:auto;
    height:auto;
    padding:30px;
    font-family: 'Poppins', sans-serif;
}
.logo{
    color:var(--colorblack);
    font-weight:700;
    font-size:19px;
}
nav ol{
    list-style-type:none;
    display:flex;
    align-self:center;
}
nav ol li{
    margin-left:20px;
}
nav ol li:nth-child(1) a{
    color:var(--colorwhite);
    text-decoration:none;
    font-size:15px;
    font-weight:bold;
    background-color:var(--colorneon);
    padding:3px 5px;
    border-radius:5px;

}
nav ol li:nth-child(1) a:hover{
    border-bottom:3px solid var(--colorblack);
}
nav ol li:nth-child(2) button{
    color:var(--colorblack);
    background-color:rgb(7, 7, 17);
    padding:5px 10px;
    border:1px solid white;
    border-radius:5px;
    font-weight:bolder;
    box-sizing:border-box;
    color:white;
}

header div:nth-child(1){
    width:85%;
    margin:auto;
    font-family:sans-serif;
    padding-top:40px;
    
} 
header div:nth-child(1) p:nth-child(1){
    color:var(--colorwhite);
    font-size:20px; 
    font-weight:bold;
}
header div:nth-child(1) p:nth-child(2){
    color:var(--colorblack);
    font-size:23px;
    font-weight:600;
    line-height:40px;
}
header div:nth-child(1) p:nth-child(3){
    color:var(--colorwhite);
    font-size:26px;
    font-weight:700;
   
}
header div:nth-child(2){
    text-align:right;
    width:85%;
    margin:auto;
    margin-top:40px;
    padding-bottom:40px;
}
header div:nth-child(2) ol{
    list-style-type:none;
    color:var(--colorblack);
    font-size:30px;
    line-height:50px; 
    font-weight:600;
    border-right:5px solid var(--colorblack);
    padding-right:10px;
}
.About_me{
    height:auto;
    background-color:var(--colorwhite);
    width:100%;
    padding:50px 0px;
}
.About_me .sub-aboutme{
    width:85%;
    margin:auto;
    display:flex;
    box-sizing:border-box;

}
.About_me .sub-aboutme div{
    flex:50%;
    height:auto;
    box-sizing:border-box;
}
.sub-aboutme div:nth-child(1) h2{
     font-size:25px;
     font-weight:700;
     padding:40px 0px;
     font-family: 'Poppins', sans-serif;
     border-bottom:3px solid var(--colorneon);
}
.sub-aboutme div:nth-child(1) p{
    font-family: 'Port Lligat Sans', sans-serif;
    font-size:14px;
    line-height:25px;
}
.sub-aboutme div:nth-child(2){
    padding:0px 50px;
    border-bottom:3px solid var(--colorneon);
}
.sub-aboutme div:nth-child(2) img{
    width:100%;
    margin:120px 0px 0px 0px;
    border-radius:10%;
    filter:saturate(10%);

}
.skills{
    height:auto;
    padding-bottom:40px;
    background-color:var(--colorwhite);
}
.skills h2{
    text-align:center;
    color:var(--colorblack);
    font-family:'Poppins', sans-serif;
    font-weight:700;
    padding-top:10px;
 
}
.subskills{
    width:85%;
    margin:auto;
    color:var(--colorwhite);
    display:grid;
    grid-gap:15px 15px;
    grid-template-columns:50% 50%;
    grid-auto-rows:minmax(200px,auto);
    margin-top:20px;
    border:none;
    box-sizing:border-box;
    padding-right:15px;
}
.subskills div{
    border-radius:12px;
    background-color:var(--colorblack);
    box-sizing:border-box;
    border:none;
    box-shadow:-2px -2px 4px var(--colorblack);
}
.subskills div h3{
    text-align:center;
    font-family:'Port Lligat Sans', sans-serif;
    padding-top:15px;
   
}
.subskills div ol{
    margin-top:20px;
}
.subskills div ol li{
    list-style-type:none;
    padding-left:20px;
    padding-top:12px;
    font-size:12px;
    font-family:'Poppins', sans-serif;
    
}
.projects{
    height:auto;
    background-color:var(--colorwhite);
    text-align:center;
    font-family:'Poppins', sans-serif;
    padding-bottom:50px;
    border-left:2px solid var(--colorneon);
    border-right:2px solid var(--colorneon);
} 
.projects h2{
    padding:40px 0px;
    color:var(--colorblack);
    font-size:30px;
    font-weight:700;
}
.projects ol li{
    list-style-type:circle;
    padding-top:50px;
    font-size:19px;
    font-family:'Port Lligat Sans', sans-serif;
    font-weight:bold;
}
.footer{
    background-color:var(--colorneon);
    height:100vh;
    font-family:'Poppins', sans-serif;
}
.footer div{
    margin:auto;
    height:auto;
    width:85%;
}
.footer div:nth-child(1) h4{
    border-bottom:3px solid var(--colorwhite);
}
.footer div:nth-child(1){
    color:white;
    padding-top:30px;
}
.footer div:nth-child(2){
    display:flex;
    flex-direction:column;
    margin-top:30px;
}
.footer div:nth-child(2) forms{
    text-align:left;
} 
forms{
    height:auto;
    font-family:'Poppins', sans-serif;
}
forms label{
    font-size:15px;
    color:white;  
}
forms input{
    margin-top:10px;
    height:40px;
    width:80%;
    padding-left:20px;
}
forms textarea{
    height:70px;
    margin-top:10px;
    width:80%;
    padding-left:20px;
}
forms button{
    background-color:var(--colorblack);
    color:white;
    padding:2px 40px;
    border-radius:5px;
    margin-top:20px;
    height:50px;
}
.footer div:nth-child(2) div{
    color:white;
    text-align:center;
}
.footer div:nth-child(2) div p:nth-child(2){
    border:none;
}
div a{
    margin-left:20px;
    border:1px solid white;
    border-radius:50%;
    padding:2px 4px;
}
div:nth-child(2) div div{
    margin-top:50px;
}
@media only screen and (min-width:650px){
    .header div:nth-child(1){

    }
    .logo{
        font-size:30px;
    }
    body{
        background-color:var(--coloryellow);
    }
    .footer{
        height:auto;
    }
    .footer div:nth-child(2){
        display:flex;
        flex-direction:row;
    }
    .subskills{
        grid-template-columns:repeat(4,25%);
        width:60%;
    }
    .sub-aboutme div:nth-child(2){
        padding-right:0px;
    }
    .sub-aboutme div:nth-child(2) img{
        width:100%;
        margin:0px;
        height:250px;
        border-radius:10px;
    }
    header div:nth-child(1) p:nth-child(1){
        color:var(--colorwhite);
        font-size:30px; 
    }
    header div:nth-child(1) p:nth-child(2){
        color:var(--colorblack);
        font-size:35px;
        font-weight:600;
        line-height:40px;
    }
    header div:nth-child(1) p:nth-child(3){
        color:var(--colorwhite);
        font-size:60px;
        font-weight:700;
        padding-top:20px;
    }
    header div:nth-child(2) ol{
        list-style-type:none;
        color:var(--colorblack);
        font-size:40px;
        line-height:50px; 
        font-weight:600;
    }
    header div:nth-child(1){
        width:60%;   
    } 
    header div:nth-child(2){
        width:60%;
    }
     .About_me .sub-aboutme{
        width:62%;
        margin:auto;
        display:flex;
        box-sizing:border-box;  
    }
    .footer{
        padding-bottom:50px;
    }
    .footer div:nth-child(1){
        width:60%;
    }
    .footer div:nth-child(2){
        width:60%;
    }
    .footer div:nth-child(2) forms{
        text-align:left;
    }
    forms{
        width:50%;
    }
    forms textarea{
        height:70px;
        width:200px;
        margin-top:10px;
    }
    .footer div:nth-child(2) div{
        color:white;
        display:block;
        border-right:2px solid white;
        border-left:2px solid var(--colorwhite);
        width:50%;
        height:250px;
    }
    .footer div:nth-child(2) div p{
        text-align:center;
    }
    .footer div:nth-child(2) div div{
        border:0px;
        height:auto;
    }
    .resume{
        display:none;
    }
}
    


